{% extends "admin/layoutAdmin.html" %}


{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
{% endblock %}

{% block content %}
    <h1 class="h2">Dashboard</h1>
{% endblock %}


{% block body %}

<img style="max-width: 500px" src="{{ url_for('static',filename='img/flask-img.png') }}" alt="flask">

<h2>Section title</h2>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Segunda</th>
                <th>TEREEEERERECA</th>
                <th>Header</th>
                <th>Header</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1,001</td>
                <td>Lorem</td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
            </tr>
        </tbody>
    </table>
</div>
</main>
</div>
</div>
</div>


{% endblock %}
