{% extends 'admin/layoutAdmin.html' %}



{% block head %}

<link rel="stylesheet" href="{{url_for('static',filename='css/dataTable.css')}}">

{% endblock %}

{% block content %}
    <h1 class="h2">Usuários</h1>
{% endblock %}


{% block body %}

    <div class="container"
    <div class="col-md-8 order-md-1">
        <form action="" method="post" >
          <h4 class="mb-3">Cadastrar</h4>
          <form class="needs-validation" novalidate>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">Nome</label>
                <input type="text" class="form-control" id="firstName" name="first_name" placeholder="Nome" value="" required>
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Sobrenome</label>
                <input type="text" class="form-control" id="lastName" name="last_name" placeholder="Sobrenome" value="" required>
                <div class="invalid-feedback">
                  Valid last name is required.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="username">Login</label>
              <div class="input-group">
                <input type="text" class="form-control" id="username" name="login" placeholder="Login" required>
                <div class="invalid-feedback" style="width: 100%;">
                  Your username is required.
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="email@example.com">
            </div>

            <div class="mb-3">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="address" name="password" placeholder="Senha" required>
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
            <!-- Large modal -->
            <button type="button" class="btn btn-success" data-toggle="modal" data-target=".bd-example-modal-lg">Consultar</button>

            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="container">
                    <h4 class="mb-3">Consultar</h4>
                        <table id="userTable" class="table" style="width:70%" style="background-color: rgb(26, 20, 80);">
                        <thead>
                            <tr>
                                <th>Hostname</th>
                                <th>Modelo</th>
                                <th>Local</th>
                                <th>Setor</th>
                                <th>Tombamento</th>
                                <th>Ip</th>
                                <th>Ramal</th>
                                <th>Editar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>WSHGMI1234</td>
                                <td>Notebook Dell i3</td>
                                <td>HGMI</td>
                                <td>2º Andar</td>
                                <td>1234</td>
                                <td>172.31.29.64</td>
                                <td>3589</td>
                                <td><button class="btn btn-lg btn-success btn-block" type="submit">Editar</button></td>
                            </tr>
                            <tr>
                                <td>WHSHUR15518</td>
                                <td>Notebook Dell i3</td>
                                <td>HUR1</td>
                                <td>5º Andar</td>
                                <td>5518</td>
                                <td>172.31.16.25</td>
                                <td>4011</td>
                                <td><button class="btn btn-lg btn-success btn-block" type="submit">Editar</button></td>
                            </tr>
                        </table>
                </div>
                </div>
              </div>
            </div>
        </form>
    </div>
    <hr>
    


{% endblock %}


{% block scripts %}

<script src="{{url_for('static',filename='js/jquery-datatable.js')}}" charset="utf-8"></script>

<script>
  $(document).ready(function() {
    $('#userTable').DataTable({
                            "language" : {
                                            "sProcessing":   "A processar...",
                                            "sLengthMenu":   "Mostrar _MENU_ registos",
                                            "sZeroRecords":  "Não foram encontrados resultados",
                                            "sInfo":         "Resultado(s) _START_ a _END_ de um total de _TOTAL_.",
                                            "sInfoEmpty":    "Mostrando de 0 até 0 de 0 registos",
                                            "sInfoFiltered": "(filtrado de _MAX_ registos no total)",
                                            "sInfoPostFix":  "",
                                            "sSearch":       "Procurar:",
                                            "sUrl":          "",
                                            "oPaginate": {
                                                "sFirst":    "Primeiro",
                                                "sPrevious": "Anterior",
                                                "sNext":     "Seguinte",
                                                "sLast":     "Último"
                                            }
                                        },
                                responsive: true,
                            // Retirada da visualização da quantidade dos itens por página.
                            "bLengthChange": false,
                            // Define o tamanho de registros a serem filtrados, o primeiro é o default.
                            "lengthMenu": [5, 10, 25, 50, 75, 100 ]
                        });
                    });
</script>

{% endblock %}
