html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
  color: green;
  font-family: fantasy;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-control {
  position: relative;
  box-sizing:content-box;
  height: 10px;
  width: auto;
  padding: 15px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.circle {
  background-color: rgb(37, 9, 114);
  border-radius: 50%;
  width: 130px;
  height: 130px;
  overflow: hidden;
  position: relative;
  margin-left: 28%;
  margin-top: 5%
}

.circle img {
  position:relative;
  bottom: 0;
  width: 100%;
}

#btn-login {
    width: 180px;
    margin-left: 9%
}
