<!Doctype html>
<html lang="pt-br">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ bootstrap.load_css() }}
    {% block head %}{% endblock %}
    <link rel="icon" href="{{ url_for('static',filename='img/favicon/favicon.png')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>TI - Unimed</title>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-success">
        <img src="{{ url_for('static',filename='img/rocket.png')}}" alt="foguete">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{url_for('index')}}">RockeTI <span class="sr-only">(current)</span></a>
                </li>
            </div>
            <span>
                <a class="btn btn-danger btn-sm rounded-pill" href="{{url_for('logout')}}" role="button"><i class="fa fa-power-off fa-2x" aria-hidden="true"></i></a>
            </span>
        </nav>
        <div class="div-top-dashboard">
            <div class="container-fluid">
                <div class="row">
                    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                        <div class="sidebar-sticky pt-3">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link active" href="{{url_for('admin_dashboard')}}">
                                        <span data-feather="home"></span>
                                        <i class="fa fa-table fa-2x" aria-hidden="true"></i>
                                        <span style="color: black; font-size:20px; ">Dashboard</span> <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{url_for('register')}}">
                                        <span data-feather="file"></span>
                                        <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
                                        <span style="color: black; font-size:20px; ">Usuários</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <span data-feather="shopping-cart"></span>
                                        <i class="fa fa-desktop fa-2x" aria-hidden="true"></i>
                                        <span style="color: black; font-size:20px; ">Máquinas</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                            {% block content %}{% endblock %}
                            <div class="btn-toolbar mb-2 mb-md-0">
                                <div class="btn-group mr-2">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                                </div>
                                <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                                    <span data-feather="calendar"></span>
                                    This week
                                </button>
                            </div>
                        </div>


                        <!-- Your page content -->
                        {% block body %}{% endblock %}

                        {{ bootstrap.load_js() }}
                        <script>
                            $('main').append("<div id='loading'><img id='loading-image' src='{{url_for('static',filename='img/ajax-loader.gif')}}' alt='Loading...'' /></div>");
                            $(window).on('load',function() {
                                setTimeout(removeLoader, 250);
                            });

                            function removeLoader(){
                                $("#loading").fadeOut(200, function() {
                                $("#loading").remove(); 
                            });  
                            }
                        </script>
                        {% block scripts %}
                        <!-- Optional JavaScript -->

                        {% endblock %}

                    </body>
                    </html>
