<!Doctype html>
<html lang="pt-br">
    <head>
        
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {{ bootstrap.load_css() }}
        <link rel="icon" href="{{ url_for('static',filename='img/favicon/favicon.png')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
        <title>TI - Unimed</title>
        {% block head %}{% endblock %}
    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-success">
            <img src="{{ url_for('static',filename='img/rocket.png')}}" alt="">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index">RockeTI <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="documents">Documentos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="ips">Consultar Ip</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="agenda">Agenda Telefônica</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    Olá, Arthur! Precisa de Ajuda?
                </span>
            </div>
        </nav>

        <!-- Your page content -->
        {% block body %}{% endblock %}

        {{ bootstrap.load_js() }}
        {% block scripts %}
            <!-- Optional JavaScript -->

        {% endblock %}

            <!-- Footer -->
            <footer class="page-footer font-small blue">
                <!-- Copyright -->
                <div class="footer-copyright text-center py-3">© 2020 Copyright:
                    <a href="https://www.unimedrecife.com.br/#!"> Unimed Recife</a>
                </div>
                <!-- Copyright -->
            </footer>
            <!-- Footer -->
    </body>
</html>
